.App {
  width: 40%;
  margin: 2em auto;
  background-color: rgb(59, 59, 59);
  border-radius: 5px;
  color:#fff;
}

.todo-header {
  padding:0.5em;
  border-bottom: 1px solid rgb(83, 83, 83);
  text-align: center;
}

